
/* Start:/bitrix/templates/klamas/template_styles.css*/
.exoFont {
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background: #FFF;
  font-family: 'Roboto', 'Arial';
  width: 100%;
  height: 100%;
  /*    z-index: 20;
    position  : relative;*/
}
body.overflowHidden {
  overflow: hidden;
}
.proto {
  background: #333;
}
h1,
h2,
h3,
h4,
h5 {
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin-bottom: 20px;
}
h1.mainPageTitle {
  font-size: 23px;
}
div.sidebar {
  margin-bottom: 25px !important;
}
.nivo-directionNav a {
  z-index: 8 !important;
}
img.noBorder {
  border: none !important;
}
.hiddenByDefault {
  display: none;
}
a.charsToggleLink {
  font-size: 12px;
  margin-right: 5px;
}
a.charsToggleLink span.glyphicon {
  margin-right: 0px !important;
}
h1 a.titleLink,
h2 a.titleLink,
h3 a.titleLink,
h4 a.titleLink,
h5 a.titleLink {
  text-decoration: underline;
}
div.bannerBlock {
  margin: 0px 0px 40px 0px;
  text-align: center;
  background-color: #eee;
}
div.bannerBlock img {
  padding: 2px;
  border: solid 1px #d3d3d3;
}
/* TOP MENU */
#topMenuBar {
  background: #dd4814;
  height: 40px;
  margin-bottom: 20px;
}
#topMenuBar ul.topMenu {
  width: 100%;
  height: 40px;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden !important;
}
#topMenuBar ul.topMenu li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  height: 100%;
}
#topMenuBar ul.topMenu li a {
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 5px 0 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
#topMenuBar ul.topMenu li a.homePageLink {
  background: url('/bitrix/templates/klamas/img/logo_small_letter.png') no-repeat;
  /*background-position-y: 2%;*/
  padding-left: 40px;
  background-position: 0 10px;
  /*color                : transparent;*/
}
#topMenuBar ul.topMenu li:hover {
  background: #E1662F;
}
#topMenuBar ul.topMenu li#mobileMenuToggler:hover {
  background: transparent;
}
#topMenuBar ul.topMenu li.menuLink a {
  /*font-size: 22px;*/
}
#topMenuBar ul.topMenu li.menuOpened {
  background: #ff8a33 !important;
  padding-left: 10px;
  padding-right: 10px;
}
#topMenuBar ul.topMenu li.menuOpened a {
  text-decoration: none;
}
#topMenuBar ul.basketMenu {
  width: 100%;
}
#topMenuBar ul.basketMenu li.basketLink {
  text-align: center;
  /*background: #747474;*/
  background: #0a8409;
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  width: 100%;
  border-bottom: solid 4px #ebff00;
  overflow: hidden !important;
}
#topMenuBar ul.authMenu li {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}
#topMenuBar ul.authMenu li a.loginLink {
  font-size: 10px;
  line-height: 20px;
}
#topMenuBar ul.authMenu li span.glyphicon {
  font-size: 10px;
}
#topMenuBar ul.topSocialMenu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
#topMenuBar ul.topSocialMenu li {
  padding: 0;
  margin: 0;
  /* ИСПРАВИТЬ */
  margin-right: -3px;
  list-style: none;
  display: inline-block;
  width: 40px;
  height: 40px;
}
#topMenuBar ul.topSocialMenu li a {
  padding: 0;
  margin: 0 1px 0 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background: #ff8a33;
  text-indent: -10000;
}
#topMenuBar ul.topSocialMenu li a.twitter {
  background: url('/bitrix/templates/klamas/img/socialTop.jpg');
  background-position: 0px 40px;
}
#topMenuBar ul.topSocialMenu li a.vkontakte {
  background: url('/bitrix/templates/klamas/img/socialTop.jpg');
  background-position: 40px 0px;
}
#topMenuBar ul.topSocialMenu li a.instagramm {
  background: url('/bitrix/templates/klamas/img/socialTop.jpg');
  background-position: 80px 1px;
}
#topMenuBar ul.topAuthMenu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
#topMenuBar ul.topAuthMenu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#topMenuBar ul.topAuthMenu li a {
  padding: 0 0 0 10px;
  margin: 0;
  color: #FFF;
  font-family: 'Exo 2';
  font-size: 12px;
  line-height: 12px;
  background: url('/bitrix/templates/klamas/img/whiteOrangeArrow.jpg');
  background-repeat: no-repeat;
  background-position: 0px 2px;
}
/* TOP MENU */
#logotypeBar {
  /*height: @logotypeBarHeight;*/
  /*    #citySelector {
		height  : @logotypeBarHeight;
		overflow: hidden !important;

		a {
			display     : inline-block;
			padding-left: 25px;

			.exoFont;
			font-size  : 14px;
			line-height: @logotypeBarHeight;

			color: #666;


			text-decoration: underline;
		}

		a:hover {
			text-decoration: none;
		}

		a.map {
			background         : url('/bitrix/templates/klamas/./img/mapBubble.jpg') no-repeat;
			background-position: 0px 10px;
		}

		a.phone {
			background         : url('/bitrix/templates/klamas/./img/phoneIcon.jpg') no-repeat;
			background-position: 0px 10px;

			text-decoration: none;
		}
    }*/
  /*
    #searchContainer {
		line-height: 45px;
		text-align : right;

		form {
			display: inline-block;
			padding: 0;
			margin : 0;

			width : 100%;
			height: 45px;
		}

		input {
			height     : 30px;
			line-height: 30px;
		}

		.searchInput {
			width : 70%;
			border: solid 2px #d3d3d3;

			box-shadow:inset 0 0 10px #d3d3d3;
		}

		.searchButton {
			width     : 20%;
			background: #f67241;
			padding   : 0;
			margin    : 0 0 0 -3px;

			.exoFont;
			font-size  : 14px;
			color      : #FFF;
			line-height: 30px;

			border     : solid 2px #FFF;
			border-left: 0px;
			height     : 34px;
		}
    }*/
}
#logotypeBar #logotype a {
  display: block;
  /*text-indent: -1400px;*/
  width: 100%;
  height: 45px;
}
#logotypeBar #logotype a img {
  padding: 0px;
  margin: 0px;
  border: 0;
  max-width: 100%;
  height: auto !important;
}
#logotypeBar #callBackPlate {
  font-size: 11px;
}
#logotypeBar #callBackPlate > div {
  padding-left: 0 !important;
}
#logotypeBar #callBackPlate span.phone {
  font-weight: bold;
  font-size: 14px;
}
#logotypeBar #callBackPlate #cityChooseLink {
  text-decoration: underline;
  font-size: 16px;
}
#logotypeBar #searchContainer {
  /*	padding-left: 0px;
	padding-right   : 0px;*/
  text-align: center;
  padding: 8px;
  background: #eee;
  border: solid 1px #d3d3d3;
  margin-left: 0px;
}
#logotypeBar #searchContainer input {
  display: inline;
}
.shadow {
  box-shadow: 0px 2px 6px rgba(63, 69, 75, 0.4);
}
ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  border: solid 1px #d3d3d3;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(63, 69, 75, 0.4);
  z-index: 10;
}
ul.menu sup {
  color: #999;
}
ul.menu ul.dropdown {
  position: absolute;
  top: 0;
  left: 263px;
  z-index: 9;
  list-style: none;
  padding: 20px;
  display: none;
  width: 700px;
  min-height: 400px;
  background: #fefefe;
  border: solid 1px #d3d3d3;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 2px 6px rgba(63, 69, 75, 0.4);
}
ul.menu ul.dropdown ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
ul.menu ul.dropdown li.secondLevel,
ul.menu ul.dropdown li.thirdLevel {
  margin: 0;
  padding: 0;
}
ul.menu ul.dropdown li.secondLevel a {
  /*color: #333;*/
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
ul.menu ul.dropdown li.thirdLevel a {
  /*color: #333;*/
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
ul.menu ul.dropdown li.secondLevel a:hover,
ul.menu ul.dropdown li.thirdLevel a:hover {
  color: #b57035;
}
ul.menu ul.dropdown li.secondLevel:hover sup,
ul.menu ul.dropdown li.thirdLevel:hover sup {
  color: red;
  font-weight: bold;
}
ul.menu li.firstLevel {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 35px;
  overflow: hidden;
}
ul.menu li.firstLevel > a {
  display: block;
  padding: 0 0 0 10px;
  margin: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  /*color: #333;*/
  border: 1px solid #e1e3e4;
  border-bottom: none;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  background: #FAFAFA;
}
ul.menu li.firstLevel > a:hover {
  color: #b57035;
  background: #FFF;
  /*	    box-shadow:         0px 3px 13px 0px rgba(50, 50, 50, 0.53);*/
}
ul.menu li.firstLevel:hover {
  background: #FFF;
  border-left: solid 2px orange;
}
ul.menu li.firstLevel:hover > ul.dropdown {
  display: block;
}
ul.menu li.catalogMenuTitle {
  border-bottom: solid 1px #dedede;
  padding: 0;
  line-height: 35px;
}
ul.menu li.catalogMenuTitle a {
  color: #333;
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
ul.menu li.catalogMenuTitle a:hover {
  color: #333;
  text-decoration: underline;
}
ul.menu li.catalogMenuTitle:hover {
  background: #FFF;
}
div.sidebarBlock {
  margin-bottom: 20px;
}
div.sidebarBlock h4 {
  color: #dd4814;
  border-bottom: solid 1px #d3d3d3;
  line-height: 30px;
}
div.sidebarBlock span.timeStamp {
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  color: #6d645d;
  font-size: 12px;
  font-weight: 500;
}
div.sidebarBlock p.teaser {
  color: #6d645d;
  font-size: 12px;
}
div.sidebarBlock a.allLink {
  color: #333;
  text-decoration: none;
  border-bottom: dotted 1px;
}
#mainPageBannersWrapper {
  padding: 0;
  margin: 0;
  width: 650px;
  height: 320px;
  overflow: hidden;
}
#mainPageBannersWrapper a {
  padding: 0;
  margin: 0;
}
#mainPageBannersWrapper img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto !important;
  max-width: 650px;
}
#mainContent {
  margin-top: 20px;
  min-height: 600px;
}
#mainContent img {
  max-width: 100%;
  height: auto;
}
#footerContainer {
  width: 100%;
  background: #666;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
}
ul.footerMenu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.footerMenu li.title {
  display: inline-block;
  float: left;
  margin-right: 50px;
}
ul.footerMenu li.title > a {
  color: yellow;
  font-weight: 400;
  font-size: 16px;
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
}
ul.footerMenu li.title ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}
ul.footerMenu li.title ul li a {
  color: #FFF;
  font-family: Arial;
}
#copyrightPlate {
  text-align: right;
  color: #FFF;
}
#copyrightPlate .phoneNum {
  font-weight: 500;
  font-size: 18px;
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
}
#copyrightPlate p.copyTxt {
  font-size: 11px;
  color: #fefefe;
}
#copyrightPlate a {
  color: #FFF;
  font-weight: bold;
  text-decoration: underline;
}
div.sidebarProducts {
  /*border     : solid 1px #eee;*/
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
}
div.sidebarProducts div.product {
  border: none;
  border-bottom: solid 1px #eee;
  border-radius: 0;
  margin-bottom: 15px;
  padding: 0 0 10px 0;
}
div.sidebarProducts div.product a {
  font-size: 12px;
}
div.sidebarProducts div.product a.name {
  display: inline-block;
  max-height: 50px !important;
  overflow: hidden !important;
}
div.sidebarProducts div.product:last-child {
  border: none;
}
div.sidebarProducts div.product .price {
  color: red;
  font-size: 16px;
  font-weight: 600;
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
}
div.bannerSidebar {
  padding: 10px;
  margin: 20px 0 20px 0;
}
div.bannerSidebar img {
  width: 100% !important;
  height: auto !important;
}
div.allNewsListItem {
  margin-bottom: 30px;
}
div.allNewsListItem h3 {
  font-size: 18px;
}
div.allNewsListItem .date {
  font-weight: bold;
  font-size: 12px;
}
div.allNewsListItem p.previewText {
  font-size: 14px;
  max-height: 140px;
  overflow: hidden !important;
}
div.sectionsListFull {
  /*    ul.sectionsBlock li.thirdLevel {
	margin-top: -5px;
    }
    */
}
div.sectionsListFull ul.sectionsBlock,
div.sectionsListFull ul.sectionsBlockSecond,
div.sectionsListFull ul.sectionsBlockThird {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
div.sectionsListFull ul.sectionsBlock a,
div.sectionsListFull ul.sectionsBlockSecond a,
div.sectionsListFull ul.sectionsBlockThird a {
  text-decoration: underline;
}
div.sectionsListFull ul.sectionsBlock li.firstLevel > a {
  font-size: 18px;
  color: #dd4814;
}
div.sectionsListFull ul.sectionsBlock li.secondLevel > a {
  font-size: 16px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}
div.sectionsListFull ul.sectionsBlock li.thirdLevel > a {
  font-size: 14px;
  margin-left: 20px;
  text-decoration: none;
}
div.sectionsListFull a.sectionSecondTitle {
  display: inline-block;
  margin-bottom: 5px;
}
div.sectionsListSubsections {
  padding: 10px;
}
div.sectionsListSubsections ul.sectionsBlock,
div.sectionsListSubsections ul.sectionsBlockSecond,
div.sectionsListSubsections ul.sectionsBlockThird {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
div.sectionsListSubsections ul.sectionsBlock a,
div.sectionsListSubsections ul.sectionsBlockSecond a,
div.sectionsListSubsections ul.sectionsBlockThird a {
  text-decoration: underline;
}
div.sectionsListSubsections ul.sectionsBlock li.firstLevel > a {
  font-size: 18px;
  color: #f67241;
}
div.sectionsListSubsections ul.sectionsBlock li.secondLevel > a {
  font-size: 14px;
  font-weight: bold;
  margin-left: 0px;
}
div.sectionsListSubsections ul.sectionsBlock li.thirdLevel > a {
  font-size: 12px;
  margin-left: 0px;
  text-decoration: none;
}
div.sectionsListSubsections a.sectionSecondTitle {
  display: inline-block;
  margin-bottom: 5px;
}
div.catalogSectionProducts div.productListItem {
  margin-bottom: 30px;
  padding-bottom: 30px;
  /*border-bottom: solid 1px #eee;*/
}
div.catalogSectionProducts div.productListItem a.productLink {
  text-decoration: none;
}
div.catalogSectionProducts div.productListItem a.productLink img {
  margin: 0 auto 0 auto;
}
div.catalogSectionProducts div.productListItem h3 {
  font-size: 18px;
}
div.catalogSectionProducts div.productListItem div.buyButtons {
  padding: 8px 10px 8px 25px;
  background: #eee;
  border-radius: 6px;
  /*margin     : 10px 0 10px 0;*/
}
div.catalogSectionProducts div.productListItem div.buyButtons p {
  margin-top: 10px;
}
div.catalogSectionProducts div.productListItem span.price {
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}
div.catalogSectionProducts div.productListItem span.discount {
  color: red;
  text-decoration: line-through;
}
div.catalogSectionProducts div.productListItem table.smallCharsTable {
  margin-top: 20px;
}
div.catalogSectionProducts div.productListItem table.smallCharsTable tr {
  border-top: solide 1px #eee;
}
div.catalogSectionProducts div.productListItem table.smallCharsTable td {
  padding: 4px;
  font-size: 12px;
}
div.catalogSectionProducts div.productListItem .productImage {
  border: none;
}
div.productElementPlate {
  border: none !important;
  overflow: hidden !important;
}
div.productElementPlate div.productWrapper {
  padding: 8px;
  margin: 0;
}
div.productElementPlate a.thumbnail {
  border: none !important;
  width: 100%;
  height: 130px;
  min-height: 130px;
  max-height: 130px;
  display: table-cell !important;
  vertical-align: middle;
  text-align: center;
  padding: 0px !important;
}
div.productElementPlate a.thumbnail img {
  width: auto !important;
  /*height  : 100%;*/
  max-height: 130px !important;
  padding: 0;
}
div.productElementPlate div.caption {
  padding: 0;
  margin-bottom: 0px;
  height: 40px;
  overflow: hidden;
}
div.productElementPlate a.name {
  display: inline-block;
  width: 100%;
  height: 40px;
  overflow: hidden !important;
}
div.productElementPlate span.price {
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.productBuyPlate {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #eee;
  border-radius: 8px;
}
.productBuyPlate .price {
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}
.productBuyPlate .buttons p {
  margin-top: 10px;
}
.productActionsBar {
  height: 20px !important;
}
div.productDetailImages a.thumbnail {
  border: none !important;
}
div.productDetailImages .vendorLogo {
  margin-top: 10px;
  text-align: right;
  padding-right: 10px;
}
.otherProps {
  margin-bottom: 5px;
}
.otherProps span {
  margin-right: 10px;
}
.otherProps span.article {
  font-size: 12px;
  font-weight: 600;
  color: brown;
}
.otherProps span.compareLink a {
  color: green;
  text-decoration: none;
  border-bottom: dotted 1px green;
}
.otherProps span.compareLink a:hover {
  border-bottom: none;
  color: #000;
}
.otherProps a.label-link {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Exo 2';
}
.otherProps a.label-link:hover {
  text-decoration: none;
}
.charNameCol {
  width: 40%;
}
.goodDescription {
  font-size: 16px;
  margin: 10px 0 10px 0;
}
.vendorChangeInfo {
  font-size: 12px;
  color: #333;
}
table.compareTable {
  width: auto !important;
  font-size: 11px !important;
}
table.compareTable thead th.productInfo {
  width: 250px !important;
  max-width: 250px !important;
  background: #FFF;
  vertical-align: top !important;
}
table.compareTable thead th.productInfo p.price {
  margin-bottom: 20px;
  font-size: 16px;
}
table.compareTable img.productImage {
  border: none !important;
}
table.compareTable a.productImgLink {
  display: inline-block;
  min-height: 130px;
}
table.compareTable thead.affix {
  top: 0px;
}
table.compareTable thead.affix th {
  width: 250px !important;
  max-width: 250px !important;
  overflow: hidden;
}
table.compareTable tr td.propName,
table.compareTable tr td.propValue {
  width: 260px !important;
}
table.compareTable .checkboxLink label {
  color: #428bca;
  cursor: hand;
  cursor: pointer;
}
table.compareTable .checkboxLink input[type=checkbox] {
  cursor: hand;
  cursor: pointer;
}
div.storesListWrapper {
  margin-top: 30px;
  background: #FFF;
  padding: 10px;
  border-radius: 6;
}
div.storesListWrapper ul.storesList {
  list-style: none;
  padding: 0;
  margin: 0;
}
div.storesListWrapper ul.storesList li {
  display: block;
}
span.productAvailable * {
  font-weight: bold;
  color: green;
}
span.productAvailableOrder * {
  font-weight: bold;
  color: #428bca;
}
.amountMeaning {
  margin-top: 10px;
}
ul.storesListFull {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
ul.storesListFull li {
  margin: 5px 0 5px 0;
}
ul.storesListFull li a {
  font-size: 16px;
}
.updateInfo {
  color: #333;
  font-size: 10px;
  margin-top: 10px;
  /*text-transform: uppercase;*/
}
/*оформление форм заказа, корзины*/
.basketOrderButtons {
  text-align: right;
}
.bx_ordercart_itemtitle a {
  color: #428bca !important;
}
.shareBox {
  margin-bottom: 20px;
}
/*разные стили*/
a.developerLink {
  text-decoration: none !important;
  font-weight: 400 !important;
  font-size: 10px;
  border-bottom: dotted 1px #FFF;
}
div.pageSubMenu {
  margin: 10px 0 20px 0;
  padding: 10px 0 10px 10px;
  border-bottom: solid 1px #eee;
}
div.pageSubMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
div.pageSubMenu ul li {
  list-style: none;
  margin: 5px 0 5px 0;
}
div.pageSubMenu ul li a {
  font-size: 16px;
}
img.ytPreview {
  width: 115px !important;
}
.actSCSmall {
  margin-top: 20px !important;
}
.bx_filter_title {
  cursor: hand;
  cursor: pointer;
  padding: 0 10px 0 5px !important;
  text-transform: uppercase !important;
  color: #333;
}
.bx_ordercart_coupon span.icon {
  display: inline !important;
}
table.klamasBrandsTable td {
  border-top: none !important;
}
table.klamasBrandsTable table.chars {
  display: none;
}
table.klamasBrandsTable tr {
  border-top: none;
  border-bottom: dotted 1px #eee;
}
table.klamasBrandsTable td.brandImg {
  width: 80px !important;
}
table.klamasBrandsTable td.brandPrice {
  width: 20% !important;
}
table.klamasBrandsTable td.brandInfo {
  width: 60% !important;
}
table.klamasBrandsTable td.brandPrice {
  text-align: right;
  font-weight: 600;
}
table.klamasBrandsTable td.brandButtons {
  text-align: center;
}
table.klamasBrandsTable a.name {
  font-size: 15px;
}
table.klamasBrandsTable span.price {
  font-weight: 600;
  font-size: 15px;
}
table.klamasBrandsTable span.discountPrice {
  color: red;
  text-decoration: line-through;
}
table.klamasBrandsTable table.chars {
  font-size: 12px;
}
table.klamasBrandsTable table.chars td.char {
  width: 30%;
}
table.klamasBrandsTable div.otherProps {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
  background: #efefef;
  border-radius: 5px;
}
table.klamasBrandsTable div.otherProps a {
  margin-right: 10px;
}
p.initialText {
  margin-bottom: 30px;
}
p.blockAnnotation {
  margin-bottom: 30px;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
}
p.small {
  font-size: 10px;
  margin-top: 10px;
}
.paddingPan {
  padding: 20px;
  margin: 10px 0 10px 0;
}
.orderDeliveryProfile {
  cursor: pointer;
  cursor: hand;
  border-color: #333;
}
.orderDeliveryProfile h4 {
  border-bottom: dotted 1px #333 !important;
}
.orderDeliveryProfile:hover h4 {
  color: blue;
}
.orderDeliveryProfile a.SDEK_selectPVZ {
  color: #FFF !important;
}
.orderDeliveryProfile.freeDeliveryProfile {
  border: dashed 2px;
  border-color: green;
}
h5.warehouseTitle {
  color: blue;
}
div.curiersListItem {
  margin-top: 25px !important;
}
ul.regionCitiesList {
  padding: 0;
  margin: 0;
  display: none;
}
ul.regionCitiesList li {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
ul.regionCitiesList li a {
  color: #333;
  text-decoration: underline;
}
div.deliveryCityInfo {
  margin: 20px 0 20px 0;
}
div.smallAmountBlock {
  font-size: 11px;
}
#topGrafikPlate {
  border: solid 1px #d3d3d3;
  padding: 4px;
  font-size: 12px;
}
#topGrafikPlate b {
  color: darkorange;
}
#mobileMenu {
  width: 100%;
  height: 100%;
  background: #eee;
  overflow: scroll;
  /*z-index : 2147483649;*/
}
#mobileMenu div.mobileMenuWrapper {
  width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
#mobileMenu div.mobileMenuWrapper div.phones span.phone {
  font-weight: bold;
  font-size: 18px;
}
#mobileMenu div.mobileMenuWrapper div.phones .phoneCol {
  margin-bottom: 15px;
}
#mobileMenu div.mobileMenuWrapper span.hint {
  color: #333;
  font-size: 12px;
}
#mobileMenu div.mobileMenuWrapper ul.authLinks {
  padding: 0;
  margin: 0;
}
#mobileMenu div.mobileMenuWrapper ul.authLinks li {
  list-style: none;
}
#mobileMenu div.mobileMenuWrapper ul.authLinks li a {
  font-size: 16px !important;
}
div.cartSortContainer {
  margin-bottom: 20px;
}
div.cartTotal {
  margin-top: 20px;
}
.bx_ordercart_order_sum td.fwb {
  font-size: 18px !important;
}
.freeDeliveryLink {
  color: red !important;
  text-decoration: underline;
  font-weight: bold;
}
#topInfoBar .citySel {
  padding: 5px;
}
#topInfoBar .citySel .btn {
  padding: 3px;
  font-weight: bold;
}
#oneClickOrderModal .modal-content {
  border-radius: 0px;
}
#oneClickOrderModal .modal-header {
  background: orange;
  color: #000;
}
#oneClickOrderModal .g-recaptcha-container {
  margin-top: 50px;
}
#oneClickOrderModal div.checkbox span.lbl {
  padding-left: 15px;
  font-weight: bold;
  padding-top: 5px;
  line-height: 30px;
}
#oneClickOrderModal input[type=checkbox] {
  width: 25px;
  height: 25px;
}
#oneClickOrderModal h3 {
  font-size: 18px;
}
#citiesJSModal .modal-content {
  border-radius: 0px;
}
#citiesJSModal .modal-header {
  background: orange;
  color: #000;
  padding-bottom: 20px;
}
#citiesJSModal .modal-header h4 {
  display: inline;
}
#citiesJSModal input[type=text] {
  margin-right: 10px;
  border-color: #d3d3d3;
}
#citiesJSModal #citiesModalSearch {
  border-bottom: solid 1px #eee;
  padding-bottom: 5px;
}
#citiesJSModal #citiesModalSearch a.btn {
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.bx_ui_slider_range {
  background: #3e8cd5 !important;
}
.smartFilterTitle {
  margin-bottom: 10px !important;
}
.smartFilterBlock {
  background: #fff;
  padding: 8px !important;
  margin-bottom: 10px;
  border: solid 1px #eee;
}
.smartFilterBlock input[type=checkbox] {
  min-width: 18px;
  min-height: 18px;
}
.smartFilterBlock span label {
  color: #25699a;
  font-family: 'Roboto' !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}
img.lazyload {
  background-color: #FFF;
  background-image: url(/bitrix/templates/klamas/img/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  border: 0px;
  border-style: none;
}
.attentionLink {
  /*font-family: 'Exo 2',Arial;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 5px 0px;
  color: #333;
}
.attentionLink a {
  color: #f33f08 !important;
  display: inline-block;
  /*text-align   : center;*/
  margin-top: 5px;
  margin-bottom: 4px;
  text-decoration: underline;
}
.attentionLink a span.glyphicon {
  color: green;
}
.asteriskText {
  color: #676767;
}
#mobileCatalogMenu li a {
  font-size: 16px !important;
}
p.pageDescription {
  font-size: 16px;
  color: #666;
}
span.marafonIcon {
  color: yellow;
  font-size: 13px;
}
div.mobileMenuBlock {
  background: #FFF !important;
  padding: 10px;
  border: solid 1px #d3d3d3;
  border-radius: 4px;
  margin-bottom: 20px;
}
div.vacancyItem {
  margin-bottom: 25px;
}
div.vacancyItem h3 {
  font-size: 25px;
}
div.vacancyItem .vacancyDescription {
  margin-top: 20px;
}
.vacancyLink {
  margin-top: 15px;
  font-weight: bold;
}
.vacancyLink a {
  color: red !important;
}
.marafonBalance {
  font-size: 18px;
}
ul.optionsListText,
ol.optionsListText {
  font-size: 16px;
  margin-top: 20px;
}
ul.optionsListText li,
ol.optionsListText li {
  margin-bottom: 15px;
}
.b-10 {
  margin-bottom: 35px;
}
/*do not remove CSS for devices*/
.hidden {
  display: none !important;
}
/*SMALL PHONE*/
@media (max-width: 767px) {
  .hidenOnPhone {
    display: none !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h1.mainPageTitle {
    font-size: 18px !important;
  }
  div.productListItem img.productImage {
    max-width: 120px !important;
    height: auto !important;
  }
  div.productListItem h3 {
    font-size: 16px !important;
  }
  #topMenuBar {
    margin-bottom: 0px !important;
  }
  #topMenuBar div.container {
    margin-bottom: -10px !important;
  }
  #searchContainer {
    text-align: left !important;
    margin-bottom: 5px !important;
  }
  #searchContainer input {
    width: 80% !important;
  }
  #callBackPlate {
    margin-top: 20px !important;
    margin-bottom: 25px !important;
  }
  ul.topMenu li a {
    font-size: 16px !important;
  }
  #mainPageBannersWrapper,
  div.slider-wrapper,
  div.ribbon {
    display: none !important;
  }
  #copyrightPlate {
    text-align: left !important;
    margin-top: 30px;
  }
  #copyrightPlate .phoneNum {
    font-size: 20px !important;
  }
  ul.footerMenu li.title {
    margin-bottom: 20px !important;
  }
  ul.footerMenu li.title ul {
    margin-top: 0 !important;
  }
  img.ytPreview {
    width: 105px !important;
  }
  .bx_filter_vertical .bx_filter_title {
    text-decoration: underline;
  }
  .bx_filter_vertical .smartFilterFormWrapper {
    display: none;
  }
  .bx_filter_popup_result.right {
    left: 25% !important;
    font-size: 18px !important;
  }
  /*	#modef {
	    bottom: 90px !important;
	    font-size: 16px;
	    color: #000;
	    
	    a {
		text-decoration: underline;
	    }
	}*/
  span.glyphLabel {
    display: none;
  }
  #topGrafikPlate {
    border: none;
    text-align: center;
  }
  a.breadCrumbLink {
    font-size: 16px !important;
  }
  .sectionsListFull li.secondLevel a,
  .sectionsListSubsections li.secondLevel a {
    font-size: 16px !important;
  }
  .sectionsListFull li.thirdLevel,
  .sectionsListSubsections li.thirdLevel {
    margin-bottom: 10px !important;
  }
  #searchForm {
    margin-top: 20px;
  }
  /*	#topContainer {
	    margin-bottom: 0px !important;
	}*/
}
/*TABLET*/
@media (min-width: 768px) and (max-width: 991px) {
  .hidenOnTablet {
    display: none !important;
  }
  #citySelector a {
    font-size: 14px !important;
  }
  #mainPageBannersWrapper {
    width: 100% !important;
    height: auto !important;
    text-align: center !important;
    margin-top: 10px;
  }
  #mainPageBannersWrapper img {
    width: 100% !important;
    height: auto;
    max-width: 100% !important;
  }
  #copyrightPlate {
    text-align: left !important;
    margin-top: 30px;
  }
  #copyrightPlate .phoneNum {
    font-size: 20px !important;
  }
  ul.footerMenu li.title ul {
    margin-top: 10px !important;
  }
  a.productLink {
    min-width: 200px !important;
  }
  .bx_filter_vertical .bx_filter_title {
    text-decoration: underline;
  }
  .bx_filter_vertical .smartFilterFormWrapper {
    display: none;
  }
  .bx_filter_popup_result.right {
    left: 25% !important;
    font-size: 18px !important;
  }
}
/*MEDIUM DESKTOP*/
@media (min-width: 992px) and (max-width: 1199px) {
  .hidenOnMedium {
    display: none !important;
  }
  #citySelector a {
    font-size: 14px !important;
  }
  #mainPageBannersWrapper {
    width: 535px !important;
    height: 262px !important;
  }
  ul.menu ul.dropdown {
    left: 210px !important;
  }
  a.productLink {
    min-width: 200px !important;
  }
  ul.mainTopMenu li a {
    font-size: 14px !important;
  }
}
@media (min-width: 1200px) {
  .hidenOnLarge {
    display: none !important;
  }
  a.productLink {
    min-width: 200px !important;
  }
  div.productsListWide {
    width: 1168px !important;
  }
  div.productsListWide img.productImage {
    width: 300px;
    height: auto;
  }
  div.smartFilterHide {
    width: 2px !important;
    overflow: hidden !important;
  }
  div.citiesGrid {
    margin-top: 5px;
  }
}

/* End */
